.home {
    font-family: sans-serif;
    text-align: center;
}

/* .ensemble {
    width: 100%;
    height: 100vh;
    border: 3px solid blue;
} */

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #ffab00d9;
    position: relative;
    z-index: 1;
}

.purple {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}


.box {
    width: 50%;
    height: 100%;
    background-color: #faf2f2;
    /* position: relative; */
    z-index: 5;
}

.change {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    border-color: #501e4b;
    color: #501e4b;
    background-color: #faf2f2;
    cursor: pointer;
    font-weight: 700;
    z-index: 7;
}

.titre-hobbies {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.titre-hobbies2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.titre-hobbies3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.change:hover {
    background-color: #501e4b;
    color: #faf2f2;
}

.bouton {
    background-color: #faf2f2;
}

.animclasse {
    animation: slide-right 1.4s linear 0s 1 normal none;
    animation-fill-mode: forwards;

}

.animclasse2 {
    animation: slide-left 1.4s linear 0s 1 normal none;
    animation-fill-mode: forwards;
}

@keyframes slide-right {

    0% {
        transform: translateX(0);
    }

    99% {
        transform: translateX(1000px);
    }

    100% {
        width: 0px;
        transform: translateX(1000px);
    }
}

@keyframes slide-left {

    0% {
        transform: translateX(0);
    }

    99% {
        transform: translateX(-1000px);
    }

    100% {
        width: 0px;
        transform: translateX(-1000px);

    }
}


.globe {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.eau {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.water {
    width: 100%;
    height: 100vh;
    position: absolute;
}


.globe-box {
    width: 350px;
    height: 500px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    opacity: 0.9;



}

.aboutme {
    width: auto;
    color: #922c88;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
    font-family: 'Lato', sans-serif;
    padding-top: 5rem;
    text-shadow: 1px 1px 2px black;



}

.aboutme2 {
    width: auto;
    color: #922c88;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
    font-family: 'Lato', sans-serif;
    padding-top: 5rem;
    text-shadow: 1px 1px 2px black;



}

.aboutme3 {
    width: auto;
    color: #922c88;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
    font-family: 'Lato', sans-serif;
    padding-top: 5rem;
    text-shadow: 1px 1px 2px black;
}

.aboutme4 {
    width: auto;
    color: #501e4b;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
    font-family: 'Lato', sans-serif;
    padding-top: 5rem;
    /* text-shadow: 1px 1px 2px black; */
}

.underline {
    border-bottom: 2px solid #501e4b;
}

.underline2 {
    border-bottom: 2px solid #501e4b;
}

#aboutme {
    margin-bottom: 10rem;
}

#aboutme2 {
    margin-bottom: 5rem;
}

.green {
    color: green;
}

.globe-text {
    width: 90%;
    /* border: 2px solid black; */
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Font Awesome 5 Free';
    /* color: #501e4b; */
    /* background-color: #f5d0f2; */
    color: #faf2f2;
}


@keyframes flip-horizontal {

    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-180deg);
    }
}

@media(max-width:768px) {
    .globe {
        flex-direction: column;
        margin-top: 70%;
    }

    .content {
        display: none;
    }

    .underline2 {
        border-bottom: 0px;
    }

    .underline {
        border-bottom: 0px;
    }
}

.hide {
    display: none;
}